<!DOCTYPE html>
<html>
<head>
    <title>Object Detection Viewer</title>
</head>
<body>
    <h1>Checkout System</h1>
    <img src="{{ url_for('video_feed') }}" alt="Object Detection Stream">
    <div>
        <h2>Object: {{ object }}</h2>
        <h2>Weight: {{ weight }}</h2>
        <h2>Price: {{ price }}</h2>
    </div>
    <script>
        setInterval(function(){
            fetch('/get_details')
            .then(response => response.json())
            .then(data => {
                document.querySelector('h2:nth-child(1)').innerText = "Object: " + data.object;
                document.querySelector('h2:nth-child(2)').innerText = "Weight: " + data.weight;
                document.querySelector('h2:nth-child(3)').innerText = "Price: " + data.price;
            });
        }, 1000); // Update the content every second
    </script>
</body>
</html>
