<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Items</title>
  </head>
  <body>
    <h1>Recorded Items</h1>
    <ul>
      {% for item in items %}
      <li>
        {{ item.name }} - {{ item.weight }}g - ${{ item.price }}
        <img
          src="{{ item.image_url }}"
          alt="{{ item.name }}"
          style="width: 100px"
        />
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
